{% extends "website/base.html" %}
{% load static %}
{% load website_tags %}

{% block extra_title %}| Agenda da semana{% endblock %}

{% block body_class %}class="pagina-agenda"{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
{% endblock %}

{% block header %}
  <!-- HEADER -->
  <div class="main-page-header container-fluid text-center">
    <h1>Agenda da semana</h1>
    <p>Acompanhamento semanal das prioridades no Congresso</p>
    <img class="robo" src="{{ large_logo }}" alt="{{ long_title }}" />
  </div>
  <!-- HEADER -->
{% endblock %}

{% block conteudo %}
  <div class="filtros-agenda container-fluid text-center">
    <form id="filtros" method="get">
      {{ form.origem }}
      {{ form.data }}
    </form>
  </div>

  <div class="datas-agenda container-fluid text-center">
    <div class="row table-row-sm item-divider">
    {% for inicio, fim in semanas_proximas %}
      {% if forloop.first %}
        <div class="col-sm-1">
          <a href="{% change_url_parameter request 'data' inicio|date:'d/m/Y' %}">
            <span class="navegacao glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </a>
        </div>
      {% elif forloop.last %}
        <div class="col-sm-1">
          <a href="{% change_url_parameter request 'data' inicio|date:'d/m/Y' %}">
            <span class="navegacao glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          </a>
	</div>
      {% else %}
        <div class="col-sm-2{% if inicio in dias_da_semana %} active{% endif %}">
          <a href="{% change_url_parameter request 'data' inicio|date:'d/m/Y' %}">
            <p class="agenda-data-mes">{{ inicio|date:"d/m" }} - {{ fim|date:"d/m" }}</p>
            {% if inicio == inicio_da_semana_atual %}
              <p class="agenda-data-hoje">esta semana</p>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class="conteudo-principal">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
	  {% for evento in object_list %}

	  {% ifchanged evento.data %}
	    {% if not forloop.first %}<div class="divider-horizontal"></div>{% endif %}
	    <h2>{{ evento.data }}</h2>
	  {% endifchanged %}
          <h2>{{ evento.comissao }}</h2>

          <p>{{ evento.descricao|safe|markdown_text }}</p>

	  {% if not forloop.last %}
	  {% endif %}
	{% empty %}
	  <p>Não existem eventos prioritários agendados para essa semana.</p>
	{% endfor %}
      </div>
    </div>
  </div>

  <div class="divider-horizontal"></div>
{% endblock %}
{% block scripts_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'js/forms.js' %}"></script>
  <script src="{% static 'js/datepicker-pt-BR.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("#datepicker").datepicker({
        beforeShowDay: function(date){
          var day = date.getDay();
          return [day >= 1 && day <= 5, ""];
        }
      });
    });
  </script>
{% endblock %}
