{% load static %}
{% load projeto_tags %}
{% load website_tags %}

<div id="pageContent" class="container">
	<div class="row filters">
		<div class="col-sm-2 filters-title">
			Navegar por
		</div>
		<div class="col-sm-3 origem">
			<p><strong>Origem:</strong>
				<a href="#" id="mostrar-camara">Câmara</a> /
				<a href="#" id="mostrar-senado">Senado</a> /
				<a href="#" id="mostrar-tudo">Tudo</a>
			</p>
		</div>
		<div class="col-sm-7 categoria">
			<p><strong>Categoria:</strong>
                {% get_cached_tags as tags %}
                {% for tag in tags %}
				<a href="#" id="mostrar-{{ tag.slug }}">
					<img src={% if tag.icon %}{{ tag.icon.url }}{% else %}{% static "img/icone-"|add:tag.slug|add:".svg" %}{% endif %} width="25" width="35" alt="ícone de {{ tag.nome }}" />
                    {{ tag.nome }}
				</a> /
                {% endfor %}
			</p>
		</div>
	</div>

	<div class="projetos-de-lei row">
	{% for projeto in projetos %}
		{% show_projeto projeto %}
	{% endfor %}
	</div>
	<div class="after-projetos text-center">
		<p>Feeds RSS das tramitações: <em><a href="https://duckduckgo.com/?q=o+que+são+feeds">(o que são feeds?)</a></em><br />
				<a href="feed/todos.xml">
					Todos os projetos
				</a> /
                {% get_cached_tags as tags %}
                {% for tag in tags %}
				<a href="feed/{{ tag.slug }}.xml">
					<img src={% if tag.icon %}{{ tag.icon.url }}{% else %}{% static "img/icone-"|add:tag.slug|add:".svg" %}{% endif %} width="25" width="35" alt="ícone de {{ tag.nome }}" />
                    {{ tag.nome }}
				</a> /
                {% endfor %}
		</p>
		<hr />
		<p>Dados extraídos do <a href="http://www2.camara.leg.br/transparencia/dados-abertos/dados-abertos-legislativo">WebServices da Câmara</a>, do serviço de <a href="http://dadosabertos.senado.gov.br/">Dados Abertos</a> do Senado<br /> e através de raspagem / <em>scraping</em> de alguns dados indisponíveis nos serviços.</p>
	</div>
</div>
