{% load static %}
<footer class="text-center">
	<a href="https://www.codingrights.org">
		<img src={% static "img/logoCR-footer.png" %} alt="Coding Rights" />
	</a>

	<p>Um projeto da <a href="https://www.codingrights.org">Coding Rights</a>. <a href="https://twitter.com/codingrights">Siga a gente no Twitter</a> e assine o <a href="https://antivigilancia.org/pt/boletim/">Boletim Antivigilância</a>.</p>
	<div class="equipe">
		<p>Equipe Coding Rights:</p>
		<p>
			Concepção: Yasodara Córdova, Joana Varon e Lucas Teixeira
		</p>
		<p>
			Desenvolvimento: Lucas Teixeira
		</p>
		<p>
			Design e front-end: Steffania Paola e Gabriela Scardine
		</p>
		<p>
			Comunicação: Larissa Ribeiro
		</p>
		<p>
			Scraping: Flávio Amieiro, Lucas Teixeira
		</p>
		<p>Colaboração para atualização e taggeamento de PLs: <a href="https://twitter.com/cdr_br">Coalizão Direitos na Rede</a></p>
	</div>
</footer>
<script src={% static "js/jquery-2.2.4.min.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script>
	$("#mostrar-camara").click(function (event) {
		event.preventDefault();
		jQuery('.camara').fadeIn(150);
		jQuery('.senado').fadeOut(150);
	});
	$("#mostrar-senado").click(function (event) {
		event.preventDefault();
		jQuery('.camara').fadeOut(150);
		jQuery('.senado').fadeIn(150);
	});
	$("#mostrar-tudo").click(function (event) {
		event.preventDefault();
		jQuery('.camara').fadeIn(150);
		jQuery('.senado').fadeIn(150);
	});
    {% get_cached_tags as tags %}
    {% for tag in tags %}
	$("#mostrar-{{ tag.slug }}").click(function (event) {
		event.preventDefault();
		jQuery('.projeto-de-lei').fadeOut(0);
		jQuery('.{{ tag.slug }}').fadeIn(150);
	});
    {% endfor %}
</script>
