{% extends "website/base.html" %}
{% load static %}

{% block titulo_extra %} | Tramitabot {% endblock %}

{% block body_class %}class="pagina-sobre"{% endblock %}

{% block header %}
  <div class="main-page-header container-fluid text-center">
    <h1 class="large">{% block head_title %}{% endblock %}</h1>
    <img class="robo" src="{{ large_logo }}" alt="{{ long_title }}" />
  </div>
{% endblock %}

{% block conteudo %}
  <div class="conteudo-principal container">
    <div class="row">
	{% block texto %}
	{% endblock %}
    </div>
  </div>

  {% block conteudo_extra %}
  <br />
  <div class="divider-horizontal"></div>
  {% endblock %}

{% endblock conteudo %}
