{% extends "website/base.html" %}
{% load static %}
{% load website_tags %}

{% block titulo_extra %} | {{ projeto.nome }}{% if projeto.promulgado and projeto.nome_da_lei_promulgada %} → {{ projeto.nome_da_lei_promulgada }}{% endif %}{% endblock %}

{% block body_class %}class="pagina-pl"{% endblock %}

{% block alerta %}
  {% if projeto.urgente %}
    <!-- ALERTA PL URGENTE -->
    <div class="alerta-pl-urgente container-fluid">
      <img src="{% static 'img/icons/lightningicon.svg' %}" alt="Urgente" />
      <span class="chamada">Este é um projeto urgente!</span>
      <a class="btn btn-acao hidden-print" href="#pl_acao">Agir agora</a>
    </div>
    <!-- ALERTA PL URGENTE -->
  {% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block conteudo %}
  <!-- CABECALHO -->
  <div class="cabecalho-pl container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="icones pull-right">
	  {% for tag in projeto.tags.all %}
	    {% get_icon_html_from_tag_id tag.id %}
	  {% endfor %}
	  {% if projeto.get_impacto_display == '🙂️' %}
            <img src="{% static 'img/icons/face-happy-icon.svg' %}" data-toggle="tooltip" title="Bom" />
	  {% elif projeto.get_impacto_display == '😐' %}
            <img src="{% static 'img/icons/face-medium-icon.svg' %}" data-toggle="tooltip" title="Atenção: pode ameaçar direitos" />
	  {% elif projeto.get_impacto_display == '🙁' %}
            <img src="{% static 'img/icons/face-unhappy-icon.svg' %}" data-toggle="tooltip" title="Ruim" />
	  {% endif %}
	  {% if projeto.urgente %}
            <img src="{% static 'img/icons/lightningicon.svg' %}" data-toggle="tooltip" title="Urgente" />
	  {% endif %}
	  {% if projeto.arquivado %}
	    <img src="{% static 'img/icons/archiveicon.svg' %}" data-toggle="tooltip" title="Arquivado" />
	  {% endif %}
        </div>

        <h1>{{ projeto.nome }}{% if projeto.promulgado and projeto.nome_da_lei_promulgada %} → {{ projeto.nome_da_lei_promulgada }}{% endif %}</h1>
        {% if projeto.apelido %}<p class="subtitulo-pl">"{{ projeto.apelido }}"</p>{% endif %}
      </div>
    </div>
  </div>
  <!-- CABECALHO -->

  <!-- METADADOS -->
  <div class="metadados-pl divisor-cruz full-width">
    <div class="container">
      <div class="row table-row-sm">
        <div class="col-sm-6 col-md-3 col-md-offset-3">
          <h4>APRESENTAÇÃO</h4>
          <p>{{ projeto.apresentacao|date:"d.m.Y" }}</p>
        </div>
        <div class="col-sm-6 col-md-3">
          <h4>AUTORIA</h4>
          <p>{{ projeto.autoria }}</p>
        </div>
      </div>
      <div class="row table-row-sm">
        <div class="col-sm-6 col-md-3 col-md-offset-3">
          <h4>ORIGEM</h4>
          <p>{{ projeto.get_origem_display }}</p>
        </div>
        <div class="col-sm-6 col-md-3">
          <h4>SITUAÇÃO</h4>
          <p title="{{ projeto.situacao }}">{{ projeto.situacao|truncatechars:"100" }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- METADADOS -->

  <!-- CONTEUDO -->
  <div class="conteudo-pl container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="section-title">ementa</h2>
        <p>{{ projeto.ementa }}</p>

        <br />
        <div class="divider-horizontal"></div>
        <br />

	{% if projeto.pontos_principais %}
        <h2 class="section-title">pontos principais</h2>
        {{ projeto.pontos_principais|safe|markdown_text }}

        <br />
        <div class="divider-horizontal"></div>
        <br />
	{% endif %}

	{% if projeto.informacoes_adicionais %}
        <h2 class="section-title">informações adicionais</h2>
        {{ projeto.informacoes_adicionais|safe|markdown_text }}

        <br />
        <div class="divider-horizontal"></div>
        <br />
	{% endif %}

	{% if projeto.clippings %}
        <h2 class="section-title">clippings</h2>
        {{ projeto.clippings|safe|markdown_text }}

        <br />
        <div class="divider-horizontal"></div>
        <br />
	{% endif %}

        <h2 class="section-title">últimas tramitações</h2>
        <br />
        <div class="tramitacoes divisor-cruz">
	  {% for tramitacao in projeto.tramitacao_set.all|slice:"5" %}
            <div class="row table-row-sm">
              <div class="col-sm-2">
                <p class="data">{{ tramitacao.data|date:"d.m.Y" }}</p>
              </div>
              <div class="col-sm-10">
                <p>{{ tramitacao.local }} - {{ tramitacao.descricao_limpa }}</p>
              </div>
            </div>
	  {% endfor %}
        <br />
        <div class="divider-horizontal"></div>
        <br />
        </div>

        <br />
    {% if projeto.documentos %}
        <h2 class="section-title">documentos</h2>
        <br />
        <div class="documentos divisor-cruz">
          <ul class="list-unstyled">
            {% for documento in projeto.documentos %}
            <li><a href="{{ documento.get_url }}">{{ documento.titulo }}</a></li>
        	  {% endfor %}
          </ul>
        </div>
        <br />
        <div class="divider-horizontal"></div>
        <br />
    {% endif %}

    {% if projeto.palavras_chave.all %}
        <h2 class="section-title">palavras-chave</h2>
        <p>
          {% for palavra_chave in projeto.palavras_chave.all %}
          {{ palavra_chave }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <br />
    {% endif %}

        <div class="button-group">
	  {% if projeto.promulgado and projeto.link_da_lei_promulgada %}
          <a class="btn btn-primary" href="{{ projeto.link_da_lei_promulgada }}">Ler texto da lei</a>
	  {% else %}
          <a class="btn btn-primary" href="{{ projeto.link }}">Projeto completo</a>
	  {% endif %}
          {% comment %}<a class="btn btn-primary" href="#">Feed das tramitações</a>{% endcomment %}
          <a class="btn btn-primary hidden-print" href="javascript:window.print()"><img src="{% static 'img/icons/printicon.svg' %}" class="img-responsive" alt="Imprimir" /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTEUDO -->

  {% if projeto.urgente %}
    <!-- ACAO -->
    <div id="pl_acao" class="pl-acao container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <img class="acao" src="{% static 'img/icons/lightningicon-yellow.svg' %}" alt="Urgente" />
          <h2 class="text-center">Esse projeto não pode passar.<br />
          <strong>Hora de agir!</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 divider">
          <h3>Twitter</h3>
          <blockquote>{{ projeto.texto_acao }}</blockquote>
          <div class="botao-compartilhar pull-left hidden-print">
            <a class="twitter-mention-button"
              href="https://twitter.com/intent/tweet"
              data-size="large"
              data-text="{{ projeto.texto_acao }}"
              dnt="true">
              Tuitar
            </a>
          </div>
          <p class="instrucoes text-right hidden-print">ao clicar, você irá tuitar diretamente com o seu perfil.</p>
        </div>
        <div class="col-md-4">
          <h3>Facebook</h3>
          <blockquote>{{ projeto.texto_acao }}</blockquote>
          <div class="botao-compartilhar pull-left hidden-print">
            <div class="fb-share-button">
              <a class="btn btn-primary fb-xfbml-parse-ignore"
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?quote={{ projeto.texto_acao }}&u=https://www.radarlegislativo.org{{ projeto.get_absolute_url }}">
                Compartilhar
              </a>
            </div>
          </div>
          <p class="instrucoes text-right hidden-print">ao clicar, você irá compartilhar o texto no seu perfil</p>
        </div>
      </div>
    </div>
    <!-- ACAO -->
  {% endif %}
{% endblock %}


{% block scripts_extra %}
  <script src="{% static 'js/tooltips.js' %}"></script>
  <script src="{% static 'js/twitter-mention.js' %}"></script>
  <script src="{% static 'js/facebook-share.js' %}"></script>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    }
  </script>
{% endblock %}
