.pagina-sobre {
  .conteudo-principal {
    margin-top: 30px;
    
    p {
      margin-top: 24px;
    }
  }

  .links-destaque {
    background-color: @white-grey;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 100px;

    img {
      margin-bottom: 25px;
      height: 100px;
    }

    a {
      color: @black;
    }
  }

  .creditos {
    padding-bottom: 100px;
    padding-top: 100px;
    
    h4 {
      font-size: 11px;
    }
    
    p {
      font-family: Avenir;
    }
  }

  .creditos-organizacoes {
    background-color: @coral;
    padding-bottom: 70px;
    padding-top: 70px;

    h3 {
      color: @white;
      font-family: "Helvetica Neue";
      font-weight: 300;
      font-size: 14px;
    }

    img {
      max-height: 100px;
      max-width: 95%;
    }

    .row.logos > div {
      vertical-align: middle;
    }
  }
}