// Arquivos originais bootstrap
@import "./components/bootstrap/less/bootstrap.less";
// Modificacoes sobre o bootstrap
@import "./components/bootstrap-radar/bootstrap_overrides.less";
// Fontes
@import "./fonts.less";
// Estilos de paginas especificas
@import "./pagina-index.less";
@import "./pagina-sobre.less";
@import "./pagina-pl.less";
@import "./pagina-agenda.less";
@import "./pagina-novos-pls.less";

body, p, li {
  color: @brownish-grey;
  font-family: "Helvetica Neue";
  font-size: 15px;
  line-height: 27px;
}

//== Elementos
// Navegacao principal (topo)
#main_navbar {
  background-color: @dusky-blue;
  border: none;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 18px;

  a, li > a {
    color: @pale-grey;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      color: @white;
    }
  }

  a.navbar-brand {
    font-family: "Avenir";
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.7px;
    height: initial;

    img {
      display: inline-block;
      margin-bottom: 6px;
      margin-right: 4px;
    }
  }

  .active > a,
  .active > a:hover,
  .active > a:focus {
    background-color: transparent;
  }

  .navbar-collapse.collapse {
    border-top: none;
  }

  button.navbar-toggle {
    &> .icon-bar {
      background-color: @pale-grey;
    }

    &:hover, &:focus {
      background-color: @iris;
    }
  }
}

// Header da pagina
.main-page-header {
  background-color: @iris;
  padding-top: 40px;
  padding-bottom: 120px;
  position: relative;

  @media screen and (min-width: @screen-sm-min) {
    height: 250px;
  }

  p, h1 {
    color: @white;
  }

	h1 {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.25;
    margin-top: 0px;
	}

  p {
    font-weight: 300;
  }

  .robo {
    width: 156px;
    position: absolute;
    bottom: 0;
    left: calc(~"50% - 78px");
  }
}

// Rodape
.rodape {
  .navegacao {
    padding-top: 30px;
    padding-bottom: 30px;

    h6 {
      color: @iris;
      font-family: "Avenir Book";
      font-size: 12px;
      margin: 50px 0 30px 0;
    }

    .nav > li > a, p > a {
      color: @brownish-grey;
      font-family: Avenir;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      padding: 6px 5px;
    }

    > div {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .licenca {
    background-color: @dark-cream-two;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;

    p {
      text-align: center;
      font-size: 14px;
      line-height: 1;
    }

    .logo {
      height: 12px;
      width: 12px;
    }
  }
}

// Item numa lista de PLs
.pls-item {
  border: 1px solid @border-grey;
  border-radius: 2px;
  padding: 20px;
  margin-top: 23px;
  min-height: 180px;

  &.archived {
    background-color: @archived-grey;
  }

  h3, h3 a {
    color: @warm-grey;
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .pls-data {
    color: @pinkish-grey;
    font-family: Avenir;
    font-size: 10px;
  }

  .pls-descricao, .pls-descricao p {
    letter-spacing: 0.1px;
    margin-top: 10px;
    padding-right: 80px;
  }

  .pls-icones img {
    padding: 0px 2px;
    height: 15px;
  }
}

//== Textos
h2.section-title {
  color: @iris;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
}

h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 15px;
}

h4 {
  color: @black-two;
  font-family: Avenir;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 5px;
}

p.detalhe {
  color: @pinkish-grey-two;
  font-style: italic;
}

//== Geral

// Tamanhos
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// Divisores
.divider-horizontal {
  background-color: @light-grey;
  height: 1px;
  width: 100%;

  &.iris {
    background-color: @iris;
  }

  &.thick {
    height: 2px;
  }
}

.make-right-divider(@thickness, @color) {
  border-right: @thickness solid @color;
}

.divider {
  .make-right-divider(1px, @light-grey);

  &.iris {
    .make-right-divider(1px, @iris);
  }

  &.thick {
    .make-right-divider(2px, @light-grey);
  }
}

.list-inline.item-divider {
  li {
    .make-right-divider(1px, @light-grey);
  }

  &.iris {
    li {
      .make-right-divider(1px, @iris);
    }
  }

  &.thick {
    li {
      .make-right-divider(2px, @light-grey);
    }
  }

  li:last-child {
    border-right: none;
  }
}

@media only screen and (min-width: @screen-sm-min) {
  .divisor-cruz {
    .row {
      &> div {
        border-right: 1px solid @light-border-grey;
        border-bottom: 1px solid @light-border-grey;
      }

      &> div:first-child {
        text-align: right;
      }

      &> div:last-child {
        border-right: none;
      }

      &:last-child > div {
        border-bottom: none;
      }
    }
  }
}

// Divs com comportamento de tabela
.make-table-row(@class) {
  .table-row-@{class} {
    display: table;
    width: 100%;

    [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: top;
    }

    &.row {
      margin: 0;
    }
  }
}

.make-table-row(xs);

@media (min-width: @screen-sm-min) {
  .make-table-row(sm);
}

@media (min-width: @screen-md-min) {
  .make-table-row(md);
}

@media (min-width: @screen-lg-min) {
  .make-table-row(lg);
}

// Botoes
.btn {
  img {
    height: 20px;
  }
}

.button-group {
  line-height: 36px;
}
